<div class="container">
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aec5ba3cc6dad5062ea60a8b571021e4a2dd98a62639e6498dc0c7717ba1ca7cb&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
</div>