<h1>Places#new_place</h1>
<p>Find me in app/views/places/new_place.html.erb</p>
<!-- <%= simple_form_for(@place, html: { class: 'form-vertical' }) do |form| %>
	<%= f.input %>
  <%= f.input %>
  <%= f.button :submit %>
<% end %> -->
